<section id="site-content" class="site-content content {% if page.sidebar %}content-sidebar{% endif %}">

  {{ page.content }}

  {% if page.sidebar %}
    {% include '@organisms/sidebar/sidebar.html.twig' %}
  {% endif %}

</section>
