.site-content {
  &.content-sidebar {
    flex-direction: column;
    column-gap: var(--gap);
    row-gap: calc(var(--gap) * 2);
  }

  .region--content {
    flex-grow: 1;
  }
}

@media screen and (width > 720px) {
  .site-content {
    &.content-sidebar {
      flex-direction: row;

      .region--content {
        flex-grow: 0;
        max-width: 720px;
      }
    }
  }
}
