:is(.page-title) {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--page-title-size);

  .page-title__super,
  .page-title__sub {
    font-size: calc(var(--page-title-size) / 8);
  }
}
