body {
  &.authenticated {
    overflow-block: clip;

    #off-canvas {
      overflow-block: auto;
      overflow-inline: hidden;
      block-size: calc(100dvb - var(--toolbars-height));
      min-block-size: calc(100dvb - var(--toolbars-height));

      .site-header {
        position: sticky;
        inset-block-start: 0;
        z-index: 1;
      }
    }
  }

  #off-canvas {
    --spacing: 0.1em;

    block-size: 100dvb;
    min-block-size: 100dvb;
    overflow-block: initial;

    a:not([class]) {
      color: var(--color-black--004);
      text-decoration-style: dashed;
      text-decoration-thickness: var(--spacing);
      text-decoration-color: var(--color-black--004);
      text-underline-offset: var(--spacing);

      &:hover {
        color: var(--color-black--001);
      }
    }

    article {
      h2,
      h3,
      h4 {
        &:not(:first-child) {
          margin-block-start: var(--gutter);
        }
      }

      ul,
      ol {
        &:not(.contextual-links) {
          display: grid;
          margin-inline-start: var(--gap);
        }
      }
    }
  }
}

.site-header {
  grid-area: header;
  background-color: var(--default-background--light);
  column-gap: 0;
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;

  > * {
    grid-column: page;
  }
}

.site-main {
  grid-area: main;
  grid-template-rows: auto 1fr;
  padding-block-end: var(--gap);
}

.site-footer {
  grid-area: footer;
  padding-block: var(--gutter);

  > * > * {
    grid-column: content;
  }
}

.site-main,
.site-footer {
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;

  > * {
    display: grid;
    grid-column: content;
    grid-template-columns: subgrid;

    &.hero,
    &.content {
      display: grid;
      grid-template-columns: subgrid;
    }

    &.hero {
      grid-column: page;

      > * {
        grid-column: content;
      }
    }

    &.content {
      grid-column: content;
    }

    &:has(.node),
    &.content > * {
      grid-column: content;
    }
  }

  .site-highlight {
    > * {
      grid-column: content;
    }
  }

  .site-content {
    > * {
      grid-column: content;
    }
  }
}

@media screen and (min-width: 64rem) {
  body {
    &.authenticated {
      #off-canvas {
        block-size: calc(100dvb - var(--toolbar-height));
        min-block-size: calc(100dvb - var(--toolbar-height));

        .site-header {
          background: rgb(255 255 255 / 0.8);
          opacity: 0.999;
          backdrop-filter: blur(12px);

          .site-header__inner {
            .region--branding,
            .region--navigation,
            .site-header__nav-wrapper {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
