body {
  &.authenticated {
    #off-canvas {
      min-height: calc(100dvh - var(--toolbars-height));

      .site-header {
        position: sticky;
        top: calc(var(--toolbar-height) - 1px);
        z-index: 1;
      }
    }
  }

  #off-canvas {
    --spacing: 0.1em;

    min-height: 100dvh;

    a:not([class]) {
      color: var(--color-black--004);
      text-decoration-style: dashed;
      text-decoration-thickness: var(--spacing);
      text-decoration-color: var(--color-black--004);
      text-underline-offset: var(--spacing);

      &:hover {
        color: var(--color-black--001);
      }
    }

    article {
      h2,
      h3,
      h4 {
        &:not(:first-child) {
          margin-block-start: var(--gutter);
        }
      }
      ul,
      ol {
        &:not(.contextual-links) {
          display: grid;
          margin-inline-start: var(--gap);
        }
      }
    }
  }
}

.site-header {
  grid-area: header;
  background-color: var(--default-background--light);
}

.site-main {
  grid-area: main;
  grid-template-rows: auto 1fr;
  padding-block-end: var(--gap);
}

.site-footer {
  grid-area: footer;
  padding-block: var(--gutter);

  > * > * {
    grid-column: content;
  }
}

.site-header {
  column-gap: 0;
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;

  > * {
    grid-column: page;
  }
}

.site-main,
.site-footer {
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;

  > * {
    display: grid;
    grid-column: content;
    grid-template-columns: subgrid;

    &.hero,
    &.breakout {
      display: grid;
      grid-template-columns: subgrid;
    }

    &.hero {
      grid-column: page;

      > * {
        grid-column: content;
      }
    }

    &.breakout {
      grid-column: breakout;
    }

    &:has(.node),
    &.breakout > * {
      grid-column: wrapper;
    }
  }

  .site-highlight {
    > * {
      grid-column: wrapper;
    }
  }

  .site-content {
    > * {
      grid-column: wrapper;
    }
  }
}

@media screen and (min-width: 64rem) {
  body {
    &.authenticated {
      #off-canvas {
        min-height: calc(100dvh - var(--toolbar-height));

        .site-header {
          position: sticky;
          top: calc(var(--toolbar-height));
          z-index: 1;
          background: rgba(255, 255, 255, 0.8);
          opacity: 0.999;
          backdrop-filter: blur(12px);

          .site-header__inner {
            .region--branding,
            .region--navigation,
            .site-header__nav-wrapper {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
