@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto/regular/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto/regular/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto/regular/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../assets/fonts/roboto/mono/RobotoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../assets/fonts/roboto/mono/RobotoMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../assets/fonts/roboto/mono/RobotoMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../assets/fonts/roboto/slab/RobotoSlab-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../assets/fonts/roboto/slab/RobotoSlab-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
