.button,
&.button {
  background-color: var(--color-black--001);
  border: solid 4px var(--color-black--001);
  color: var(--color-white--001);
  display: flex;
  place-items: center;
  cursor: pointer;
  max-width: fit-content;
  padding-inline: var(--gap);
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--color-black--004);
    border-color: var(--color-black--004);
  }

  &.read-more {
    padding-inline: calc(var(--gap) / 3);
  }
}
