.breadcrumbs {
  margin-block: calc(var(--gap) * 2);

  .breadcrumb-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: calc(var(--gap) / 2);
  }

  .crumb-item {
    a {
      color: var(--color-black--004);
      text-decoration: none;
      text-transform: lowercase;
    }
  }
}
