{% extends '@organisms/main/main.html.twig' %}

{% block highlight %}{% endblock highlight %}
{% block hero %}{% endblock hero %}

{% block content %}
    <section id="site-content" class="site-content wrapper wrapper__inline wrapper__block has-shadow">

        <div class="site-content__inner user__dialog">
          {{ page.content }}
        </div>

    </section>
{% endblock %}
