body {
  &.page-blog {
    #off-canvas {
      article {
        &.grid {
          > * {
            &:has(> a) {
              margin-block: var(--gutter);
            }

            &:has(> .tag) {
              margin-block: var(--gutter);
            }
          }
        }

        &.blog {
          grid-template-areas:
            "image title"
            "image metadata"
            "image description"
            "image footer";
          gap: var(--gap);

          .content-header {
            grid-area: image;

            img {
              height: 100%;
            }
          }

          .node__title {
            grid-area: title;
            margin-block: 0;
          }

          .node__metadata {
            grid-area: metadata;
            display: flex;
          }

          .node__description {
            grid-area: description;
          }

          .content-footer {
            grid-area: footer;
          }
        }
      }
    }
  }
}
