{% extends '@organisms/footer/footer.html.twig' %}

{% block site_footer %}

  <footer role="contentinfo" class="site-footer footer">
    <div class="wrapper">
      {{ page.footer }}
    </div>
  </footer>

{% endblock site_footer %}
