.region--focus {
  .simple-search-form {
    --gap: 0.5rem;

    margin-inline: var(--gap) calc(var(--gap) / 4);
    display: flex;
    grid-gap: var(--gap);

    :is(.form-item, .form-actions) {
      > input {
        margin-block: 0.5rem;
      }
    }

    :is(.form-autocomplete, .form-search) {
      background-image: none;
      background-color: var(--bg-color);
      border-inline: var(--border-size) solid var(--bg-color);
      border-block-start: var(--border-size) solid var(--bg-color);
      border-block-end-color: var(--color-white--004);
      min-inline-size: 12.5rem;
      max-inline-size: 12.5rem;

      &:focus,
      &:focus-visible,
      &:focus-within {
        background-color: var(--color-white--001);
        border: calc(var(--border-size) * 2) solid var(--color-black--001);
        min-block-size: calc(100% - (var(--gap) * 2));
        padding: calc(0.75rem - 2px) calc(1rem - 2px);
        color: var(--bg-color);
      }
    }
  }
}
