{% extends '@molecules/field/field.html.twig' %}

  {% block label_hidden %}

  {%
    set tags_classes = [
      'tags',
    ]
  %}

  {%
    set tag_classes = [
      'tag-item',
    ]
  %}

  <div{{ attributes.addClass(tags_classes) }}>

    {% for item in items %}
      <div class="field-item tag">{{ item.content|add_class(tag_classes) }}</div>
    {% endfor %}

  </div>

{% endblock label_hidden %}

