.site-header__nav-wrapper {
  background-color: var(--default-background--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  transition: all 0.2s ease-in-out;
  position: sticky;
  box-shadow: 0 0 50rem;
  overflow: clip;
  visibility: hidden;

  nav {
    .navigation-main,
    .navigation-focus {
      --min-height: 4rem;

      margin: 0;
      padding: 0;

      li {
        min-height: var(--min-height);

        a {
          color: var(--color-black--004);
          display: grid;
          text-decoration: none;
          text-transform: lowercase;
          align-items: center;
          justify-content: flex-start;
          grid-auto-flow: row;

          &[aria-current="page"],
          &.is-active {
            border-color: var(--color-black--001);
            color: var(--color-black--001);
          }
        }
      }
    }
  }

  .navigation-main {
    min-height: var(--height);

    li {
      a {
        --border-width: 4px;

        border-top: var(--border-width) solid transparent;
        min-height: calc(100% - var(--border-width));
        padding-inline: var(--gap);

        &:hover {
          border-color: var(--color-black--004);
        }
      }
    }
  }

  .navigation-focus {
    li {
      place-content: center;

      a {
        --gap: 0.5rem;
        --padding: 1rem;

        min-height: calc(100% - (var(--gap) * 2));
        margin: var(--gap);
        padding-inline: var(--padding);

        &:hover {
          border-color: var(--color-black--001);
          color: var(--color-black--001);
        }
      }
    }
  }

  .simple-search-form {
    --bg-color: transparent;
    --gap: 0.5rem;

    margin-inline: var(--gap);
    display: flex;
    grid-gap: var(--gap);

    :is(.form-item, .form-actions) {
      > input {
        margin-block: 0.5rem;
      }
    }

    :is(.form-autocomplete) {
      background-image: none;
      background-color: var(--color-white--001);
      border-inline: var(--border-size) solid var(--bg-color);
      border-block-start: var(--border-size) solid var(--bg-color);
      border-block-end-color: var(--default-background--dark);
      min-width: 12.5rem;

      &:focus,
      &:focus-visible,
      &:focus-within {
        border: calc(var(--border-size) * 2) solid var(--color-black--001);
        min-height: calc(100% - (var(--gap) * 2));
        padding: calc(0.75rem - 2px) calc(1rem - 2px);
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  .site-header__nav-wrapper {
    flex-direction: row;
    flex-grow: 1;
    visibility: visible;
    height: auto;
    box-shadow: 0 0 0;
    transition: none;
    overflow: initial;

    nav {
      .navigation-main,
      .navigation-focus {
        grid-auto-flow: column;
      }
    }
  }
}
