.maintenance-page {
  #off-canvas {
    .site-header {
      max-block-size: 100%;
      place-items: center;

      > img {
        max-block-size: 100dvb;
        grid-column: 1 / -1;
        place-self: center;
      }
    }
  }
}
