{% extends '@molecules/field/field.html.twig' %}

  {% block label_hidden %}

  {%
    set tags_classes = [
      'tags',
      'flex'
    ]
  %}

  {%
    set tag_classes = [
      'tag-item',
    ]
  %}

  <ul{{ attributes.addClass(tags_classes) }}>

    {% for item in items %}
      <li class="field-item tag tag-{{ item.content['#title']|transliterate|lower|replace({' ': '-'}) }}">{{ item.content|add_class(tag_classes) }}</li>
    {% endfor %}

  </ul>

{% endblock label_hidden %}

