{% extends '@molecules/field/field.html.twig' %}

{% block label_hidden %}

  {%
    set desc_classes = [
      'paragraph',
      'grid'
    ]
  %}

  {% for item in items %}
    <div{{ attributes.addClass(desc_classes) }}>{{ item.content }}</div>
  {% endfor %}

{% endblock label_hidden %}

