.sidebar-aside {
  min-inline-size: 350px;
  max-inline-size: 100%;
  flex-grow: 1;

  > * {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gutter) / 5);
  }

  @media screen and (min-width: 64rem) {
    max-inline-size: 350px;
  }
}
