{% extends '@organisms/block/block.html.twig' %}
{% block block %}

{%
  set classes = [
    'breadcrumbs'
  ]
%}

  <div{{ attributes.addClass(classes) }}>
    {{ content }}
  </div>

{% endblock block %}
